/* AppComponent's private CSS styles */
h1 {
  margin-bottom: 0;
}
nav{
  gap: 10px;
}
nav a {
  padding: 1rem;
  text-decoration: none;
  margin: 20px 30px 20px 0;
  display: inline-block;
  flex-direction: column;
  background-color: #e8e8e8;
  color: #3d3d3d;
  border-radius: 4px;
  width: 100px;
}

nav a:hover {
  color: white;
  background-color: #42545C;
}
nav a:active {
  background-color: black;
}